tool-tip {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    user-select: none;
    background-color: white;
    color: #000;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    border-radius: 8px;
    top: 90%;
    left: -100%;
    opacity: 0;
    transition: opacity 0.7s ease;
  }
  
  :has(> tool-tip) {
    position: relative;
  }
  
  :has(> tool-tip):hover tool-tip {
    opacity: 1;
  }

  @media (max-width: 768px) {
    :has(> tool-tip):hover tool-tip {
      opacity: 0
    };
    }
